:root { 
--green_200:#aac89b; 
--deep_orange_A200:#ff703e; 
--light_blue_300:#5fd7fc; 
--deep_orange_400_01:#f37548; 
--light_blue_700:#0090d0; 
--light_blue_400:#15b8ea; 
--gray_900_19:#22201c19; 
--light_blue_900:#00529b; 
--light_blue_800_02:#0080c6; 
--light_blue_800:#1174b0; 
--light_blue_800_01:#0066b2; 
--green_A700:#00b875; 
--black_900:#000000; 
--deep_orange_600:#ff4e17; 
--yellow_700:#f9bb2a; 
--teal_900:#062e53; 
--yellow_900:#f6921e; 
--blue_50_01:#ebf5fd; 
--deep_orange_500:#fc611e; 
--deep_orange_400:#ff8c3e; 
--blue_gray_900:#214e3c; 
--gray_900_02:#22201c; 
--gray_700:#56575b; 
--gray_900_03:#312201; 
--blue_gray_100:#d9d9d9; 
--gray_500:#b1a89c; 
--amber_400:#ffcb20; 
--blue_500:#3295f0; 
--gray_800:#3e3c36; 
--red_A200:#ff5a5f; 
--amber_700:#eaa509; 
--gray_900:#222222; 
--blue_600:#3c8bca; 
--gray_900_01:#14192c; 
--lime_900:#704f04; 
--yellow_50:#fef8eb; 
--gray_300:#e7e6e3; 
--orange_300:#febe41; 
--blue_50:#ecf5fe; 
--gray_900_1e:#22201c1e; 
--cyan_100:#9de9e5; 
--blue_100:#b7daf9; 
--indigo_700:#42538c; 
--white_A700:#ffffff; 
--indigo_500:#3973b9; 
}